@model Supplement_Facts_products.Models.Invoice_Import

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Invoice_Import</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.id_vendor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.id_vendor)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.dateofImport)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dateofImport)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.total)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.total)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id_InvoiceImport }) |
    @Html.ActionLink("Back to List", "Index")
</p>
